[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyzx = "*"
numpy = "*"
pandas = "*"
qiskit = "*"
matplotlib = "*"
pylatexenc = "*"
pytket = "*"
pytket-qiskit = "*"
qfast = "*"
qfast-qiskit = "*"
cirq = "*"
interop = "*"
gmpy2 = "*"
coverage = "*"
qfast-uq = "*"
seaborn = "*"

[requires]
python_version = "3.7"
